:root {
    --primary: 		#0d6efd;
    --white: 		#ffffff;
    --dark:			#4C4C4C;
    --light: 		#F6F7FB;
    --gray:			#C8D0DD;
    --warning: 		#05b8d1;

    --body-bg:      #ffffff;
    --body-color:   #647087;
}